.container {
  display: flex;
  flex-flow: column;
  aside {
  }
}
.main-container {
  text-align: center;
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    flex-flow: row;
    aside {
      width: 30%;
    }
  }
}
.bigimage {
  max-width: 100%;
}
.blinking {
  animation: blinkingText 0.2s infinite;
}
@keyframes blinkingText {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}

.blinking-white {
  animation: blinkingTextWhite 0.2s infinite;
}
@keyframes blinkingTextWhite {
  0% {
    color: white;
  }
  49% {
    color: white;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: white;
  }
}
